h1 {
    background-color : red;
    text-align: center;
}
body, html {
    body, html {
        width: 80%;
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
}
.container {
    display: flex;
    height: 100vh; /* Full viewport height */
    position: relative;
    background-image: url(img/peace.jpg);
    background-size: contain;
    background-position: center;
    padding: 20px;
    color: white;
}
.container p {
    flex: 1;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}